body{
   
    margin: 0%;
    background-color: rgb(188, 192, 245);
    
}

.nav_bar{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8% ;
    width: 100%;
    background-color: rgb(40, 94, 141);
}
#nav_button{
    background-color: aqua;
    margin: 20px;
    max-width: 15%;
    max-height: 10px;

}
.About{
    margin-top: 8%;
    max-width: 90%;
    background-color: brown;
}

#center_doc{
    flex-wrap: wrap;
    max-width: 90%;

}

.Tile{
    
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 255);
    background-color: bisque;
    ;
}
.Title{
    padding:10px;
    max-width: 100%;   
    background-color: rgb(109, 185, 22);
}
#blerb{
    
    padding: 10px;
    background-color: blueviolet;
    
}

